* {
    margin: 2px;
}

body {
    font-size: 20;
    color: black;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mainSection {
    display: flex;
    flex: 1;
}

nav {
    background-color: white;
    padding-top: 3rem;
    flex-basis: 20%;
}

main {
    flex-basis: 60%;
}

aside {
    background-color: white;
    padding-top: 3rem;  
    flex-basis: 20%;
}


footer {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#flexButton , #gridButton , p {
    display: inline-block;
}

@media only screen and (max-width: 480px) {
   .mainSection {  
        display: flex;
        flex-direction: column;
    }
}